{% extends "base.html" %}

{% block content %}
<h1>Customers</h1>
<table class="table">
    <thead class="thead-dark"> 
    <th>Customer ID</th>
    <th>Customer Name</th>
    <th>Phone Number</th>
    <th>Balance</th>
{% for customer in customers %}
<p>
    <tr>
    <td><a href="{{ url_for('pages.get_customer', id=customer.id) }}">{{ customer.id }}</a></td>
    <td><a href="{{ url_for('pages.get_customer', id=customer.id) }}">{{ customer.name }}</a></td>
    <td>{{ customer.phone }}</td>
    <td>${{ customer.balance }}</td> 
    </tr>
</p>
{% endfor %}
</table>
</thead>
{% endblock %}