{% extends "base.html" %}
{% block content %}
<h1>Order ID {{ id }}</h1>
<table class="table">
    <thead class="thead-dark"> 
    <th>Customer Name</th>
    <th>Customer Balance</th>
    <th>Items ordered</th>
    <th>Estimated price</th>
    <th>Customer details</th>
    <th>Delete</th>

{% for order in orders %}
<p>
    <tr>
    <td>{{ order.name }}</td>
    <td>${{ order.balance }}</td>
    <td>
    {% for product in order.products %}
        {{ product }}
    {% endfor %}
    </td>
    <td>${{ order.price }}</td>
    <td>
        <a href="{{ url_for('detailed_customer', id=customer_id) }}">Customer ID {{ customer_id }}</a>
    </td>
    <td>
        <form method="POST" action="{{ url_for('delete_order', ORDER_ID=id) }}"> 
        <button type="submit">Delete</button>
        </form>
    </td>
    </tr>
</p>
{% endfor %}
</table>
</thead>
{% endblock %}