{% extends "base.html" %}

{% block content %}
<h1>Orders</h1>
<table class="table">
    <thead class="thead-dark"> 
    <th>Order ID</th>
    <th>Order Products</th>
    <th>Order processed</th>
    <th>Process</th>
    <th>Delete</th>
{% for order in orders %}
<p>
    <tr>
        <td> 
            <a href="{{ url_for('pages.get_order', id=order.id) }}">{{ order.id }}</a> 
        </td>
        <td>
            <ul>
                {% for product in order.products %}
                <li>{{ product }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ order.processed }}</td>
        <td>
            <form method="POST" action="{{ url_for('pages.process_order', id=order.id) }}"> 
            <button type="submit">Process</button>
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('pages.delete_order', id=order.id) }}"> 
            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</p>
{% endfor %}
</table>
</thead>
{% endblock %}